{% extends "base.html" %}

{% block title %} Journal {% endblock title %}

{% block content %}
    <h1>Journal</h1>
    <ul>
        {% for journal in object_list %}
            <li>
                <div>Name: <a href="/core/tenants/{{ journal.tenant.id }}">{{ journal.tenant.last_name }} {{ journal.tenant.first_name }}</a></div>
                <div>Room number: <a href="/core/rooms/{{ journal.room.id }}">{{ journal.room.number }}</a></div>
                <div>Tenants count: {{ journal.tenants_count }}</div>
                <div>Check in date: {{ journal.check_in_date }}</div>
            </li>
        {% endfor %}
    </ul>
    <hr>
    {% include "forms/journal_form.html" %}
{% endblock content %}